*
/*

!/modules
/modules/contrib

!/modules/custom
!/modules/custom/lifebook
!/modules/custom/lifebook/**

!/modules/custom/app
!/modules/custom/app/**
/modules/custom/app/js



node_modules
dist
vendorDist

!.gitignore
!README.md







