{#
/**
 * @file page_object.html.twig
 * Default theme implementation to present Page object data.
 *
 * This template is used when viewing Page object pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_page_object()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('page_object') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
